# compiled output
/dist
/node_modules
/build
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Tests
/coverage

# OS
.DS_Store

# IDEs and editors
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# npm artifacts
*.tgz
